#booking{
    background: url(assets/images/booking-background-smaller.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.booking-form{
    max-width:70%;
    margin:auto;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.68);
    border: 1px solid transparent;
    color: rgb(255, 255, 255);
    border-radius:6px;
}

.booking-form ul{
    list-style-type: none;
    padding-left: 0px;
}

.booking-form ul li{
    padding: 0.8rem;
}

#booking .form-header-group{
    padding: 1.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.68);
    border-top: 1px solid rgba(0, 0, 0, 0.68);
    border-color: #ccc;
}

#booking .form-textbox{
    border-radius: 6px !important;
    border:1px solid #ccc;
    background:transparent;
    padding: 6px 6px;
    margin: 0.5rem;
    color:rgb(255, 255, 255);
}

#booking .input-group{
    color: #ccc !important;
}


#booking input::-webkit-outer-spin-button,
#booking input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*Szállítás-radio*/

 #booking .checkbox-wrapper-12 input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;
  }

/*Szolgáltatás-checkbox*/
#booking .checkbox-wrapper-12 {
    position: relative;
  }
#booking .checkbox-wrapper-12 > svg {
    position: absolute;
    top: -130%;
    left: -170%;
    width: 110px;
    pointer-events: none;
  }
  #booking .checkbox-wrapper-12 * {
    box-sizing: border-box;
  }
  #booking .checkbox-wrapper-12 input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;
  }
  #booking .checkbox-wrapper-12 input[type="checkbox"]:focus {
    outline: 0;
  }
  #booking .checkbox-wrapper-12 .cbx {
    width: 24px;
    height: 24px;
    top: calc(50vh - 12px);
    left: calc(50vw - 12px);
  }
  #booking .checkbox-wrapper-12 .cbx input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #bfbfc0;
    border-radius: 50%;
  }
  #booking .checkbox-wrapper-12 .cbx label {
    width: 24px;
    height: 24px;
    background: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-filter: url("#goo-12");
    filter: url("#goo-12");
    transform: trasnlate3d(0, 0, 0);
    pointer-events: none;
  }
  #booking .checkbox-wrapper-12 .cbx svg {
    position: absolute;
    top: 5px;
    left: 4px;
    z-index: 1;
    pointer-events: none;
  }
  #booking .checkbox-wrapper-12 .cbx svg path {
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
    transition: stroke-dashoffset 0.3s ease;
    transition-delay: 0.2s;
  }
  #booking .checkbox-wrapper-12 .cbx input:checked + label {
    animation: splash-12 0.6s ease forwards;
  }
  #booking .checkbox-wrapper-12 .cbx input:checked + label + svg path {
    stroke-dashoffset: 0;
  }

  #booking .row{
    padding: 0.2rem;
    width:70%;
  }

  .szallitas, .szolgaltatasok{
    margin-top: 1rem;
  }

  #booking .checkbox-row{
    margin-left: 2rem;
  }

  #booking .checkbox-row .label-col{
    flex-grow: 0.1;
    align-items: center;
  }

  #booking .checkbox-row .category-col{
    flex-grow:3;
  }

  #booking .date{
    cursor: pointer;
  }

  @-moz-keyframes splash-12 {
    40% {
      background: #498ffc;
      box-shadow: 0 -18px 0 -8px #498ffc, 16px -8px 0 -8px #498ffc, 16px 8px 0 -8px #498ffc, 0 18px 0 -8px #498ffc, -16px 8px 0 -8px #498ffc, -16px -8px 0 -8px #498ffc;
    }
    100% {
      background: #498ffc;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
  @-webkit-keyframes splash-12 {
    40% {
      background: #498ffc;
      box-shadow: 0 -18px 0 -8px #498ffc, 16px -8px 0 -8px #498ffc, 16px 8px 0 -8px #498ffc, 0 18px 0 -8px #498ffc, -16px 8px 0 -8px #498ffc, -16px -8px 0 -8px #498ffc;
    }
    100% {
      background: #498ffc;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
  @-o-keyframes splash-12 {
    40% {
      background: #498ffc;
      box-shadow: 0 -18px 0 -8px #498ffc, 16px -8px 0 -8px #498ffc, 16px 8px 0 -8px #498ffc, 0 18px 0 -8px #498ffc, -16px 8px 0 -8px #498ffc, -16px -8px 0 -8px #498ffc;
    }
    100% {
      background: #498ffc;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }
  @keyframes splash-12 {
    40% {
      background: #498ffc;
      box-shadow: 0 -18px 0 -8px #498ffc, 16px -8px 0 -8px #498ffc, 16px 8px 0 -8px #498ffc, 0 18px 0 -8px #498ffc, -16px 8px 0 -8px #498ffc, -16px -8px 0 -8px #498ffc;
    }
    100% {
      background: #498ffc;
      box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
    }
  }

/*Confirm removedog*/
#confirm button {
  background-color: #04AA6D;
  color: white;
  padding: 10px 16px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

#confirm button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
#confirm .cancelbtn, .deletebtn {
  float: left;
  width: 20%;
}

/* Add a color to the cancel button */
#confirm .cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
#confirm .deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
#confirm .container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
#confirm {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

.clearfix{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content/Box */
#confirm .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
#confirm hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
#confirm .close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

#confirm .close:hover,
#confirm .close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
#confirm .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  #confirm .cancelbtn, .deletebtn {
     width: 100%;
  }
}

.gombok{
  display: flex;
  width: 100% !important;
}

.gombok .col{
  display: flex;
  flex: 50%;
  align-items: center;
}

#vegosszeg{
  display: none;
  padding: 6px 12px 6px 12px;
  margin-bottom: 0;
  background-color: #7bf1c4;
  border-radius: 0.375rem;
  color: #212529;
}
#submitbooking{
  align-items: center;
}
#submitbooking:hover{
  box-shadow: inset 850px 0 0 0 #63f1bbd2;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  border-color: #63f1bbd2;
  font-size: 135%;
  transition: 400ms;
}

/* 
