#prices{
    background-color: #d4e1f5;
}

#prices .szolg{
    background-color: white;
    margin: 1.5rem;
    transform: scale(1.1);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    font-family: 'Futara';
    border-radius: 0.8rem;
    padding: 0px !important;
}

#prices .leiras{
    font-size: small;
    text-align: justify;
    padding: 1rem 1rem 0rem 1rem;
}

#prices .szolg h5{
    padding: 0.5rem 0rem 0.5rem 0rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    color: white;
}

#prices .nev{
    background-color:#0d6efd;
}

#prices .ar{
    margin: 0px;
    font-family: Book Antiqua;
    color: #63f1bbd2;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 1px #000000;
}

#prices b{
    font-size: 15px;
}

@media (max-width: 667px) { 
    #prices .szolg{
        width: 275px !important;
        height: 400px !important;
    }

    #prices .row{
        flex-direction: column;
    }

    #prices .osszes{
        padding-left: 50px;
    }
}

@media ((min-width: 412px) and (max-width: 896px)) { 
    #prices .szolg{
        height: 378px;
    }

    #prices .row{
        flex-direction: column;
    }

    #prices .osszes{
        padding-left: 75px;
    }
}

@media ((min-width: 768px) and (max-width: 1180px)) { 
    #prices .szolg{
        font-size: large;
        width: 470px;
        min-height: 500px;
        margin-bottom: 2.5rem !important;
    }

    #prices .row{
        flex-direction: column;
    }

    #prices .osszes{
        padding-left: 110px;
    }

    #prices b{
        font-size: 22px;
    }

    #prices .leiras{
        font-size: 20px;
    }

    #prices img{
        width: 220px !important;
        height: 190px !important;
    }
}

@media ((min-width: 540px) and (max-width: 720px)) { 
    #prices .osszes{
        padding-left: 120px;
    }
}

@media ((min-width: 280px) and (max-width: 653px)) { 
    #prices .szolg{
        margin-left:0.7rem !important;
    }
}

@media ((min-width: 992px)) { 
    #prices .szolg{
        margin: 1.2rem;
    }

    #prices .row{
        flex-direction: row !important;
        margin: 0px;
        padding: 0px;
    }

    #prices .osszes{
        padding-left: 38px;
        max-width: 998px;
    }

    .elem{
        margin-bottom: 0.5rem !important;
    }

    .elem2 .szolg{
        margin: 3rem !important;
    }
    
}