html,body{min-height: 100vh;}


.navbar{
    padding-bottom: 40px; 
}

.nav-item {
    color:hsl(217, 97%, 64%); 
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.6rem;

}

.nav-item-icons{
    margin-right:1%;
    font-size: 2.5rem;
    padding:1%;
    display: flex;
}
.nav-background {
    margin-right: 0%;
  }



  .footer-background {
    background-image: url("assets/images/pngfind.com-dog-paw-png-337026.png");
    background-size: 8%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
  }
  .navbar-toggler,
  .navbar-toggler-icon{
    margin-right: 10%;
    margin-left:0%;
    font-size: 120%;
  }
  #OpenMenu{
    right: 5%;
    font-size: 110%;
  }
  /* #OpenMenu:hover{
    margin-right: 10%;
    margin-left:0%;
    font-size: 130%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
  outline: none;
} */
  


  .bi-chevron-left,
  .bi-chevron-right{
    font-size: 8vw;
    background-size: 100%, 100%;
    color:black;
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100%;
  width: 100%;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 2px solid #498ffc;
  background-image: none;
  background-color: black;
  font-size: 4.0 em;
  line-height: 50px;
}


  .carousel-caption {
    color: rgb(255, 255, 255);
    font-size: 3.0 em;
    background-color: rgb(0, 0, 0, 0.5);
    top: 21%;
    bottom: initial;
    border-radius: 10px;
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.justify{
    text-align: justify;
    text-justify: inter-word;
    margin: 20px;
}

#logo{
    height:42px;
    width:42px;
    
}
#cim{
   color:antiquewhite;
   text-shadow: 1px 1px 2px #000000;
   display: flex;
   text-decoration: none;
   margin-top: -0.5%;
}

#alcim{
    display: flex;
    color: aliceblue;
    margin-top: 0%;
    margin-left: 6%;
    font-size: 1.0rem;
    text-decoration: none;
    text-align: center;
}

.modal-title{
    
    text-align: center;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px 2px #000000;
}
.modal-header{
    background-color: #498ffc;
}

.socialoffcanvas{
    display: none;
    color: #000000;
}
.dropdown-menu{
    z-index: 999;
}
.form-label{
    text-align: center;
}
#password,
#username,
#user,
#veznev,
#vez,
#ker,
#felh,
#pass,
#pas,
#kernev,
#keresztnev,
#mail,
#phone,
#submit{
    text-align: center;
}
#welcome {
    color: white;
    text-align: center;
    padding-top: 20px;
    margin-right: 20px;
}
.dropdown-item{
    padding: 10px;
    position: relative;
}
.dropdown-toggle{
  padding-top: 30px;
  padding-left: -10px;
  font-size: 1.5rem;

}
.navbar-brand{
   color:antiquewhite;
   text-shadow: 1px 1px 2px #000000;
   box-sizing: content-box;
   height: auto;
   margin-top: -2%;
}


.carousel-inner{
    width:100% !important;
  }
.container-fluid {
    width: 100% !important;
    padding:0% !important;
    margin: 0% !important;

  }
  .fixed-top {
    position: sticky;
    top: 0;
   
  }
  .hover-effect:hover {
    background-image: url("assets/images/pngfind.com-dog-paw-png-337026.png");
    background-size: 10%;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 8px;
    border: 0px solid #63f1bbd2;
    border-radius: 35px;
    box-shadow: 0px 5px 5px #63f1bbd2;
    transition: 400ms;
    opacity: 0.7;
    -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.1em;
      -webkit-filter: blur(2px);
              filter: blur(2px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.1em;
      -webkit-filter: blur(2px);
              filter: blur(2px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  


.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0.5%;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #498ffc;
  }
  
  .separator:not(:empty)::before {
    margin-right: .7em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .7em;
  }

  #message {
    display:none;
    background: #ffffff;
    color: #498ffc;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 15px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "👌";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "x";
  }



.tooltip{
    width: auto;
    font-size: 16px;
}
  .tooltip.animated:before {
    transform: scale3d(.2,.2,1);
    transition: all .3s ease-in-out;
    
  }
  .tooltip.animated:after {
    transform: translate3d(0,8px,0);
    transition: all .2s ease-in-out;
  }
  .tooltip.animated:hover:before,
  .tooltip.animated:hover:after {
    opacity: 1;
    transform: scale3d(1,1,1);
  }
  .tooltip.animated:hover:after {
    transition: all .2s .1s ease-in-out;
  }
  .tooltip-inner {
    max-width: 350px; /* set this to your maximum fitting width */
    width: inherit; /* will take up least amount of space */ 
}


@media (max-width: 1000px) { 
  .col label{
    font-size: 0.7rem;
    
  }
  ::-webkit-input-placeholder {
    font-size: 12px!important;
 }
  .form-control { 
    font-size: 12px!important;
  }


}

.cookie-consent{
position: fixed;
bottom: 8px;
left: 20px;
width: 30%;
padding: 15px 15px 15px 15px;
height: auto;
color: black;
text-align: justify;

line-height: 20px;
font-size: 14px;
background: white;
z-index: 120;
cursor: pointer;
border-radius: 5px;
}

@keyframes fadeInUp {
  from {
      transform: translate3d(0,20px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 0.95
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,100px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 0.95
  }
}

.animated {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
.szoveg{
  padding: 20px;
}
#cookieSettings{
  display: none;
  width: 90%;
  z-index: 99999;
}

#sectionprofile{
  z-index: 999;
  margin-top: 10%;
}
#gif{
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  height:auto;
  display: block;
}
#datatable{
  border-collapse: collapse;
 

}
#toroluzenet,
#hozzaaduzenet{
  /* margin-top: 120px; */
  z-index: 999;
  overflow: visible !important; 
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
  border-radius: 20px 0px 0px 20px;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #498ffc;
  color:white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 0px 20px 20px 0px;
}

.overlay button:hover {
  background: #3e79d8;
  color:#f0f0f0;
}

#eredmeny{
  background-color: white;
  color: #000000;
  z-index: 999;
}
.modal-open {
  overflow: visible !important; 
  position: relative;
  
}
#adatok{
  width: 100%;
}
#panzio{
  width: 100%;
  margin-top: 30%;
  
}
#sectionprofile2{
  background-image: url("assets/images/pngfind.com-dog-paw-png-337026.png");
  background-size: 5%;
  background-repeat: no-repeat;
  background-position-y: right;
  background-position-x: center;
}
#updateservice{
  margin-top: 100%;
}

#form_profile_back{
  background-image: url("assets/images/huskey.jpg");
  background-size: 22%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 0%;
  background-position-x: 90%;

  }
  #back_profile{
    background-image: url("assets/images/1.jpg");
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0%;
    background-position-x: 20%;
  }
  #sectionback{
    background-image: url("assets/images/2.jpg");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: left;
    background-position-y:5%;
    background-position-x: 25%;

  }
  #submit_profile:hover{
    box-shadow: inset 290px 0 0 0 #63f1bbd2;
    color: white;
    text-shadow: 1px 1px 2px #000000;
    border-color: #63f1bbd2;
    font-size: 135%;
    transition: 400ms;
  }
  #ujszolggomb:hover{
    box-shadow: inset 390px 0 0 0 #63f1bbd2;
    color: white;
    text-shadow: 1px 1px 2px #000000;
    border-color: #63f1bbd2;
    font-size: 135%;
    transition: 400ms;
  }

  @media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
    .navbar .nav-item:hover .nav-link{ color: #fff;  }
    .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
    .navbar .dropdown-menu.fade-up{ top:180%;  }
    .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
  }		

  .navbar-toggler:hover{
    box-shadow: 0px 2px 2px 0px #63f1bbd2;
    color: white;
    border-color: #63f1bbd2;
    transition: 400ms;
  }
  .dropdown-item:hover{
    box-shadow: 0px 0px 5px 0px #63f1bbd2;
    color:white;
    background-color: #498ffc;
    font-size: 105%;
    transition: 400ms;
  }

/* ------------------------------------------------------------------------------------------------------------ */
/* Galaxy Fold (portrait) ----------- */
@media only screen and (min-device-width : 279px) and (max-device-width : 319px) {
    html,body{width:100%;}

    .offcanvas-body {
        background-image: url("assets/images/huskey2.jpg");
        background-size: 40%;
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: center;
        }
        .nav-item-icons,
        .dropdown {
            display: none;
         }
         .socialoffcanvas{
            display: flex;
            position: absolute;
            padding: 1%;
            margin-left: -20%;
            top: 0%;
        }
        .socialoffcanvas a{
            color: #000000;
            margin-left: 10%;
        }

         .navbar-brand{
            font-size: 0.5rem;
            height: 5%;
            width: 5%;
            margin-left: -9%;
         }
         .navbar-toggler,
         .navbar-toggler-icon{
            display: flex;
            justify-content: center;
            margin-right:0%;
            margin-left:5%;
            font-size: 40%;

         }
         #logo2{
            height: 70%;
            width: 9.5%;
            padding-right: 0%;
            margin-left: 5%;
        }

        .offcanvas-header{
            display: flex;
            justify-content: center;
            margin-left: -5%;
         }
         .offcanvas-title{
            font-size: 1 rem;
         }
         .offcanvas-header .btn-close {
            padding: 5%;
          
        }
        .offcanvas-body{
            display: flex;
            justify-content: center;
            margin-left: -5%;
        }
        .nav-link{
            font-size: 110%;
        }
        .carousel-caption{
            font-size: 50%;
        }
        .footer-background {
            background-size: 15%;
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-position-x: left;
          }
          #cim{
            color:antiquewhite;
            text-shadow: 1px 1px 2px #000000;
            display: flex;
         }
         
         #alcim{
             display: flex;

         }
         .cookie-consent{
          bottom: 2px;
          left: 0px;
          width: 100%;
          padding: 2px 2px 2px 2px;
          height: auto;
          color: black;
          text-align: justify;
          
          background: white;
          z-index: 120;
          cursor: pointer;
          border-radius: 5px;
          }
          #accept,
          #dismiss,
          #settings{
            font-size: 10px;
          }
          #cookieimage{
            display: none;
          }
          #cookieSettings{
            display: none;
            width: 90%;
            height: 90%;
            z-index: 99999;
            font-size: 10px;
            overflow-y: auto;
          }

          #sectionprofile{
            z-index: 999;
            margin-top: 80%;
          }
          #mancs{
            display: none;
          }

}
/* ------------------------------------------------------------------------------------------------------------ */
/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 567px) {
	.offcanvas-body {
        background-image: url("assets/images/huskey2.jpg");
        background-size: 40%;
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: center;
        }
        .nav-item {
          color:#498ffc; 
          margin-top: 5%;
          margin-left: 5%;
          margin-right: 5%;
          font-size: 1.0rem;
      
      }
        
        .nav-item-icons,
        .dropdown {
            display: none;
         }
         .socialoffcanvas{
            display: flex;
            position: absolute;
            bottom: 25%;
            margin-left: -20%;

        }
        .socialoffcanvas a{
            color: #000000;
            margin-left: 10%;
        }


         .navbar-brand{
            font-size: 0.6rem;
            height: 5%;
            width: 5%;
         }
         .navbar-toggler,
         .navbar-toggler-icon{
            display: flex;
            justify-content: center;
            margin-right:1%;
            margin-left:5%;
            

         }
         #logo2{
            height: 70%;
            width: 9.5%;
            padding-right: 0%;
            margin-left: 5%;
        }

        .offcanvas-header{
            display: flex;
            justify-content: center;
            margin-left: -5%;
         }
         .offcanvas-title{
            font-size: 1 rem;
         }
         .offcanvas-header .btn-close {
            padding: 5%;
          
        }
        .offcanvas-body{
            display: flex;
            justify-content: center;
            margin-left: -5%;
        }
        .nav-link{
            font-size: 110%;
        }
        .carousel-caption{
            font-size: 50%;
        }
        .footer-background {
            background-size: 15%;
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-position-x: left;
          }
          #cim{
            color:antiquewhite;
            text-shadow: 1px 1px 2px #000000;
            display: flex;
         }
         
         #alcim{
             display: flex;

         }
         ::-webkit-input-placeholder {
          font-size: 0px!important;
       }
       .cookie-consent{
        bottom: 2px;
        left: 0px;
        width: 100%;
        padding: 2px 20px 2px 20px;
        height: auto;
        color: black;
        text-align: justify;
        
        background: white;
        z-index: 120;
        cursor: pointer;
        border-radius: 5px;
        }
        #accept,
        #dismiss,
        #settings{
          font-size: 10px;
        }
        #cookieSettings{
          display: none;
          width: 90%;
          height: 90%;
          z-index: 99999;
          font-size: 10px;
          overflow-y: auto;
        }
        #sectionprofile{
          z-index: 999;
          margin-top: 35%;
        }
        #mancs{
          display: none;
        }

    }
/* ------------------------------------------------------------------------------------------------------------ */
/* Smartphones (landscape) ----------- */
@media only screen and (min-device-width : 568px) and (max-device-width : 768px) {
	.offcanvas-body {
        background-image: url("assets/images/huskey2.jpg");
        background-size: 30%;
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: right;
        }
        .nav-item-icons,
        .dropdown {
            display: none;
         }

         .socialoffcanvas{
            display: flex;
            position: absolute;
            margin-left: -20%;
            top:0%;
        }
        .socialoffcanvas a{
            color: #000000;
            margin-left: 10%;
        }

         .navbar-brand{
            font-size: 0.8rem;
            height: 8%;
            width: 8%;
         }
         .navbar-toggler,
         .navbar-toggler-icon{
            display: flex;
            justify-content: center;
            margin-left:5%;
            font-size: 80%;

         }
         #logo2{
            height: 75%;
            width: 9.5%;
            padding-right: 0%;
            margin-left: 5%;
        }

        .offcanvas-header{
            display: flex;
            justify-content: center;
            margin-left: -5%;
         }
         .offcanvas-title{
            font-size: 1 rem;
         }
         .offcanvas-header .btn-close {
            padding: 5%;
          
        }
        .offcanvas-body{
            display: flex;
            justify-content: center;
            margin-left: -5%;
            margin-top: 5%;
        }
        .nav-link{
            font-size: 110%;
        }
        .carousel-caption{
            font-size: 50%;
        }
        .footer-background {
            background-size: 15%;
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-position-x: left;
          }
          #cim{
            color:antiquewhite;
            text-shadow: 1px 1px 2px #000000;
            display: flex;
         }
         
         #alcim{
             display: flex;
         }
         .col label{
          font-size: 0.4rem;
         }

         .cookie-consent{
          bottom: 2px;
          left: 0px;
          width: 100%;
          padding: 2px 20px 2px 20px;
          height: auto;
          color: black;
          text-align: justify;
          
          background: white;
          z-index: 120;
          cursor: pointer;
          border-radius: 5px;
          }
          #accept,
          #dismiss,
          #settings{
            font-size: 10px;
          }

          #cookieSettings{
            display: none;
            width: 90%;
            height: 90%;
            z-index: 99999;
            font-size: 10px;
            overflow-y: auto;


          }
          #sectionprofile{
            z-index: 999;
            margin-top: 20%;
          }
          #mancs{
            display: none;
          }
       
    }

/* ------------------------------------------------------------------------------------------------------------ */
/* iPads, tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.offcanvas-body {
        background-image: url("assets/images/huskey2.jpg");
        background-size: 42%;
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: right;
        }
        .nav-item-icons {
            padding: 1%;
            font-size: 0.2 rem;;
         }

         .navbar-brand{
            font-size: 0.7 rem;
            height: 20%;
            width: 20%;
         }
         .navbar-toggler{
            display: flex;
            justify-content: center;
            margin-right:0%;
            margin-left:5%;
            font-size: 90%;

         }
         #logo2{
            height: 85%;
            width: 11.5%;
            padding-right: 0%;
            margin-left: 5%;
        }

        .offcanvas-header{
            display: flex;
            justify-content: center;
            margin-left: -5%;
         }
         .offcanvas-title{
            font-size: 1.8 rem;
         }
         .offcanvas-header .btn-close {
            padding: 5%;
          
        }
        .offcanvas-body{
            display: flex;
            justify-content: center;
            margin-left: -5%;
        }
        .nav-link{
            font-size: 130%;
        }
        .carousel-caption{
            font-size: 70%;
        }
        .footer-background {
            background-size: 15%;
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-position-x: left;
          }
          #cim{
            color:antiquewhite;
            text-shadow: 1px 1px 2px #000000;
            display: flex;
            
         }
         
         #alcim{
             display: flex;
         }

         .col label{
          font-size: 0.7rem;
         }
         .cookie-consent{
          bottom: 2px;
          left: 0px;
          width: 100%;
          padding: 2px 20px 2px 20px;
          height: auto;
          color: black;
          text-align: justify;
          
          background: white;
          z-index: 120;
          cursor: pointer;
          border-radius: 5px;
          }
          #accept,
          #dismiss,
          #settings{
            font-size: 10px;
          }
          #cookieSettings{
            display: none;
            width: 90%;
            height: 90%;
            z-index: 99999;
            font-size: 10px;
            overflow-y: auto;


          }
          #sectionprofile{
            z-index: 999;
            margin-top: 20%;
          }
          #mancs{
            display: none;
          }
}
/* ------------------------------------------------------------------------------------------------------------ */
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) and (max-device-width : 1400px){
	.offcanvas-body {
        background-image: url("assets/images/huskey2.jpg");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: right;
        }


         .navbar-brand{
            font-size: 1 rem;
            height: 25%;
            width: 25%;
         }
         .navbar-toggler{
            display: flex;
            justify-content: center;
            margin-right:5%;
            margin-left:5%;

         }
         #logo2{
            height: 90%;
            width: 13%;
            margin-left: 15%;
        }

        .offcanvas-header{
            display: flex;
            justify-content: center;
            margin-left: -5%;
         }
         .offcanvas-title{
            font-size: 110%;
         }
         .offcanvas-header .btn-close {
            padding: 5%;
          
        }
        .offcanvas-body{
            display: flex;
            justify-content: center;
            margin-left: -2%;
        }

        li .nav-item-icons{
          margin-right:1%;
          font-size: 2.0rem;
          padding:1%;
          display: flex;
      }

        #cim{
            color:antiquewhite;
            text-shadow: 1px 1px 2px #000000;
            display: flex;
            text-decoration: none;
            
         }
         
         #alcim{
             display: flex;
             font-family:cursive;
        }
        #cookieimage{
          width: 100%;
        }
        #cookieSettings{
          display: none;
          width: 90%;
          height: 50%;
          z-index: 99999;
          overflow-y: auto;

        }
        #sectionprofile{
          z-index: 999;
          margin-top: 10%;
        }
    }
/* ------------------------------------------------------------------------------------------------------------ */
/* Large screens ----------- */
@media only screen 
and (min-width : 1400px) {
	#sectionprofile{
    z-index: 999;
    margin-top: 9%;
  }
}
